{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать в Home Accounting!</h1>

{% if user.is_authenticated %}
    <p>Привет, {{ user.username }}!</p>
    <p><a href="{% url 'users_template:profile' %}">Перейти в профиль</a></p>
    <p><a href="{% url 'users_template:logout' %}">Выйти</a></p>
{% else %}
    <p>Вы не авторизованы.</p>
    <p>
        <a href="{% url 'users_template:login' %}">Войти</a>
        или
        <a href="{% url 'users_template:register' %}">Зарегистрироваться</a>
    </p>
{% endif %}
{% endblock %}
